<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daftar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.0/firebase-app.js"></script>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/header.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/body.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/footer.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
    <link rel="shorcut icon" href="images/gelora.png">
    <script src="app.js"></script>
</head>

<body id="background-home">
    <div id="cf4a" class="shadow">
        <img src="/images/gbr1.jpeg" />
        <img src="/images/gbr2.jpeg" />
        <img src="/images/gbr3.jpeg" />
        <img src="/images/gbr4.jpeg" />
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <form action="/add" method="POST">
                <div class="row main-content">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <label class="label-input" for="">Nama Lengkap</label>
                            <input type="text" class="text-daftar" name="namaLengkap" id="namaLengkap" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Nomor Hp Aktif</label>
                            <input type="number" class="text-daftar" name="noHp" id="noHP" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Tempat Lahir</label>
                            <input type="text" class="text-daftar" name="tmpLahir" id="tmpLahir" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Tanggal Lahir</label>
                            <input type="date" class="text-daftar" name="tglLahir" id="tglLahir" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Asal SMP</label>
                            <input type="text" class="text-daftar" name="smp" id="smp" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Pengalaman Organisasi</label>
                            <input type="text" class="text-daftar" name="organisasi" id="organisasi" required>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <label class="label-input" for="">Nama Lengkap Ayah</label>
                            <input type="text" class="text-daftar" name="namaAyah" id="namaAyah" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Nama Lengkap Ibu</label>
                            <input type="text" class="text-daftar" name="namaIbu" id="namaIbu" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Alamat Lengkap</label>
                            <input type="text" class="text-daftar" name="alamat" id="alamat" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Cita-cita</label>
                            <input type="text" class="text-daftar" name="citacita" id="citacita" required>
                        </div>
                        <div>
                            <label class="label-input" for="">Motivasi Ikut Paskibra</label>
                            <input type="text" class="text-daftar" name="motivasi" id="motivasi" required>
                        </div>
                        <div id="btn-btn">
                            <button type="submit" class="btn btn-success" id="btn-daftar2">Daftar</button>
                            <a href="/"><button type="button" class="btn btn-danger" id="btn-back">Kembali</button></a>
                        </div>
                    </div>
                </div>


            </form>

        </div>
    </div>
</body>

</html>